html{
    --site-color-1: rgb(127, 229, 255);
    --site-color-2: #2ede98;
    --background-image: url(/screen.jpg) no-repeat;
    --background-color: #2A2734;
    --borders-color-1: var(--site-color-1);
    --hover-color-1: var(--site-color-1); 
    --hover-color-2: #f1f1f1;
    /*------ Carousel property variables -----*/
    --n-faces: 5;
    --rotation-degree: calc(360deg/ var(--n-faces));
    --w-image-carousel: 290px;
    --h-image-carousel: 187px;
}
body {
    margin: 0;
    background: var(--background-image);
    background-size: cover;
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: #fefefe;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
   
    
}
a{
    text-decoration: none;
    color: white;
}
h1, h2, h3, h4, h5, p{
    color: black;
    padding-bottom: 30px;
}
.bigText{ font-size: 78px;/* border: 1px solid red;*/}
.medText{ font-size: 40px;}
.normText{font-size: 20px;}
.smallText{font-size: 14px;/* border: 1px solid red; */}


.header{
    padding: 20px;
    display: flex;
    background: transparent;
    justify-content: center;
    align-items: center;
    backdrop-filter: brightness(0.5);

}
footer{
    position: relative;
    margin-top: auto;
    background: transparent;
    color: white;
    --mask:
    radial-gradient(30.34px at 50% 42.90px,#000 99%,#0000 101%) calc(50% - 44px) 0/88px 100%,
    radial-gradient(30.34px at 50% -20.9px,#0000 99%,#000 101%) 50% 22px/88px 100% repeat-x;
     -webkit-mask: var(--mask);
    mask: var(--mask);
    backdrop-filter: brightness(0.5);

}
footer p{
    color: white;
    padding-bottom: 8px;
    font-size: 14px;
}

footer a:hover{
    color: var(--hover-color-1);
    text-decoration: underline;
}

.ft-wrapper{
    margin-inline: auto;
    padding-inline: 1rem;
    padding-top: 3rem;
}

.logo{
    position: relative;
    width: 169px;
    height: 140px;
    top: 0;
    left: -5rem;
}

.logo img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.logo img:hover{
    filter:drop-shadow( 8px 6px 4px var(--hover-color-1));
}

.title{
    position: relative;
    width: 75%;
    font-size: 78px;
    font-family: math;
    letter-spacing: 7px;
    filter: drop-shadow( 8px 6px 4px black)
}

.title:hover{
    filter:drop-shadow( 8px 6px 4px var(--hover-color-1));
}

.menu{
    text-align: left;
    position: fixed;
    right: 1rem;
    width:0; 
    top: 132px;
    z-index: 2;
    transition: 0.5s;
    overflow-x: hidden;
    background: transparent;
    padding-top: 12px;  
}
.menu ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*Menu links properties */
.menu a{
    padding: 8px 8px 8px 10px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}



.menu a:hover{
    color: var(--hover-color-1);
}

.closebtn{
    position:fixed;
    top: 3rem;
    right: 3rem;
    font-size: 79px;
    display: none;
    z-index: 2;
}
.closebtn:hover{
    color: var(--hover-color-1);
}

.openbtn{
font-size: 54px;
cursor:pointer;
border-color: #111;
color: #f1f1f1;
padding: 10px 15px;
border: none;
display: block;
position: fixed;
z-index: 2;
right: 2rem;
}

.openbtn:hover{
    color: var(--hover-color-1);
}

.container {
    position: relative;
    width: 320px;
    margin: 100px auto 0 auto;
    top: 35px;
    perspective: 1200px;
    display: flex;
    height: 320px;
}

.carousel {
    position: absolute;
    text-align: start;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate360 45s infinite forwards linear;
}
.carousel:hover{
    animation-play-state: paused;
}
.carousel a{
    cursor: pointer;
    position: absolute;
    transform-style: preserve-3d;
    text-align: start;
    
}

.image {
    position: absolute;
    width: var(--w-image-carousel);
    height: var(--h-image-carousel);
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    grid-template: minmax(0, 1fr) / minmax(0, 1fr);
    grid-template-areas: "stack";
    display: grid;
}

.image > #carouselImg{
    grid-area: stack;
    object-fit: cover;
    place-self: stretch;
}

.image:hover > figcaption{
    color: var(--hover-color-1);
}
.image > figcaption{
    grid-area: stack;
    align-self: end;
    justify-self: stretch;
    background-color: #27273980;
    color: white;
    text-align: end;
    padding: 12px;
    backdrop-filter: blur(6px);
}


.carousel a:nth-child(1) .image{
    transform: rotateY(calc(0*var(--rotation-degree))) translateZ(calc((var(--w-image-carousel)/2)/(tan(var(--rotation-degree)/2))));
}

.carousel a:nth-child(2) .image{
    transform: rotateY(calc(1*var(--rotation-degree))) translateZ(calc((var(--w-image-carousel)/2)/(tan(var(--rotation-degree)/2))));
}

.carousel a:nth-child(3) .image{
    transform: rotateY(calc(2*var(--rotation-degree))) translateZ(calc((var(--w-image-carousel)/2)/(tan(var(--rotation-degree)/2))));
}

.carousel a:nth-child(4) .image{
    transform: rotateY(calc(3*var(--rotation-degree))) translateZ(calc((var(--w-image-carousel)/2)/(tan(var(--rotation-degree)/2))));
}

.carousel a:nth-child(5) .image{
    transform: rotateY(calc(4*var(--rotation-degree))) translateZ(calc((var(--w-image-carousel)/2)/(tan(var(--rotation-degree)/2))));
}
/*-----------------------POPUP ISTRUCTION ---------------------------*/

.instruction{
    width: 343px;
    height: auto;
    min-height: 264px;
    display: block;
    background:  #b1aaaaca;
    backdrop-filter: blur(30px);
    color:  black;
    position: absolute;
    top: 200px;
    transform: scale(0);
    transition: scale 1s ease-in-out;
    z-index: 3;
    border: 1px solid;
    border-color: var(--site-color-1) var(--site-color-2);
    text-align: left;
    font-size: 20px;
    padding: 1rem;
    justify-self: center;
}
.instruction p:nth-child(1){
    text-align: center;
}
.instruction p:nth-child(2){
    padding-block: 1rem;
    text-align: right;
}


/*-----------------------BAR SECTION---------------------------*/
.containerBar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
    margin-top: 4rem;
}
.sectionBar{
    
    display: flex;
    height: 400px;
    width: 20%;
    min-width: 360px;
    position: relative;
    transform-style: preserve-3d;
   perspective: 1000px;
}
.card{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 5px;
    background: linear-gradient(375deg, var(--site-color-1), #2ede98);
    border-radius: 10px;
    transform: translateY(0deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
    transition: transform 0.7s cubic-bezier(0.4,0.2,0.2,1);
  }

  .sectionBar:hover > .front-face{
    transform: rotateY(-180deg);
  }

  .card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    
  }

  .back-face{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    transform: rotateY(180deg);
    background: #f1f1f1;
  }

  .sectionBar:hover > .back-face{
    transform: rotateY(0deg);
  }

  .back-face img{
    height: 150px;
    width: 150px;
    padding: 5px;
    border-radius: 50%;
    background: linear-gradient(375deg, var(--site-color-1), #2ede98);
  }
 .back-face .title{
    color: #111;
    font-size: 30px;
    font-weight: 400;
    padding-right: 0px;
 }
 .back-face p{
    padding-bottom: 5px;
 }


/*----------------------------TRAVELS SECTION-----------------------------*/
.worldmap{
    display: grid;
    width: 95%;
    top: 200px;
    height: 95%;
    margin: auto;
    overflow: auto;
    background-color: white;
   
}
.worldmap img{
    object-fit: none;
  
    margin: auto;
}

map area:hover{
    background-color: blue;
}

/*----------------------------FLAG-MENU-----------------------------*/
.flagMenu{
    width: 340px;
    height: 340px;
    border-radius: 50%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s;
    top: 30%;
    left: 24px;
    transform: scale(0) rotate(-180deg);
    backdrop-filter: blur(2px);

}

.circle{
    display: flex;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.circle img{
    object-fit: fill;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.circle:nth-child(2){
    top: -6%;
    left: 25%;
}
.circle:nth-child(3){
    top: 10%;
    right: 6%;
}
.circle:nth-child(4){
    top: 33%;
    right: -5%;
}
.circle:nth-child(5){
    bottom: 19%;
    right: 4%;
}
.circle:nth-child(6){
    bottom: 4%;
    right: 50%;
}
.circle:nth-child(7){
    bottom: 20%;
    left: 6%;
}
.circle:nth-child(8){
    top: 34%;
    left: -3%;
}
.circle:nth-child(9){
    top: 11%;
    left: 6%;
}
.circle:nth-child(10){
    top: 72%;
    left: 52%;
}
.circle:nth-child(11){
    top: -6%;
    left: 51%;
}


/*---------------------Animations---------------------------------------*/
@keyframes rotate360 {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(-360deg);
    }
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }
  
    100% {
        transform: rotate(360deg);
    }
  }

*,
*::before,
*::after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*--------------------------------MODAL----------------------------------*/

.modal{
    display: none;
    position: absolute;
    z-index: 50;
    width: 100%;
    height: 128%;
    overflow: auto;
    align-items: center;
    background-color: #111;
    flex-direction: column;
}

.close{
    color: #aaa;
    float: right;
    text-align: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, .close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.boxContent{
    display: flex;
    align-content: center;
    flex-direction: column;
    object-position: center;
    margin:auto;
    height: 100%;
    width: 80%;
}

.galle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.galleImage{
    grid-template: minmax(0, 1fr) / minmax(0, 1fr);
    grid-template-areas: "stack";
    display: grid;
}

#imgContainer{
    grid-area: stack;
    position: relative;
    width: 100%;
    height: auto;
    object-fit: fill;
    margin: auto;
}

.galle button{
    position: relative;
    z-index: 50;
    color: white;
    border-color: transparent;
    border-radius: 30%;
    background-color: transparent;
     height: 100%;
     font-size: 30px;
     top: 0;
}


#destination{
    align-self: end;
    justify-self: stretch;
    background-color: #27273980;
    color: white;
    text-align: center;
    backdrop-filter: blur(6px);
    font-size: 28px;
}
/*-----------------------------ME-SECTION------------------------------------*/
.containerContent{
    display: block;
   padding: 1rem;
    margin-block: 2rem;
    scroll-behavior: smooth;
}

.sectionContent{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    background-color: white;
    border-radius: 2%;
}

.content{
    display: flex;
    width: 50%;
    margin: 13px;
    height: auto;
    flex-direction: column;
}

.dirrectionMe{
    cursor: pointer;
    color: blue;
}
.secondary{
    background: linear-gradient(375deg, var(--site-color-1), var(--site-color-2));
    border-radius: 3%;
    transform: scale(0) matrix(0,1,1,0,0,0);
    transition: transform 1200ms;
    display: none;
}
.content p{
    text-align: left;
}
.content ul{
    list-style:inside;
    list-style-position: outside;
    padding-left: 19px;
    margin-right: 10px;
}
.content ul li{
    color: #111;
    text-align: left;
}

.content img{
    object-fit: fill;
    margin-right: 23px;
    border-radius: 8%;
    margin-bottom: 1rem;
}

.content a{
    color: blue;
}
.content-btn{
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 40px;
}
.contentBtn{
    display: flex;
    justify-content: space-between;
}
.content-button{
    color: blue;
    padding-right: 32px;
    padding-left: 32px;
    cursor: pointer;
}

#meAnchor{

}
/*-------------------------------CONTACT------------------------------------*/

.containerContact{
    min-width: 350px;
    max-width: 420px;
    width: 100%;
    height: 350px;
    margin: auto;
    background: linear-gradient(375deg, var(--site-color-1), var(--site-color-2));
    border-radius: 8%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    top: 60px;
    

}
.containerContact::after{
  position: absolute;
  content:'';
  width: 204%;
  height: 204%;
  background-color: #ececec80;
  top: -150%;
  left: -52%;
  border-radius: 40%;
  animation: wave 12s infinite linear;
  animation-delay: 0.5s; 
}
.containerContact::before{
  position: absolute;
  content: '';
  width: 200%;
  height: 200%;
  background-color: #ffffff;
  top: -150%;
  left: -50%;
  border-radius: 40%;
  animation: wave 12s infinite linear;
}

.containerContact label img{
    min-width: 80px;
    max-width: 100px;
    width: 100%;
    height: 100px;
    margin: 0;
    filter:grayscale(1);
    transition: 0.5s;
}

.containerContact input{
    display: none;
}

.sectionLogos{
    display: inline-flex;
    z-index: 1;
}
.sectionContact{
    width: 100%;
    height: 250px;
    display: block;
    z-index: 1;
}

.sectionContact a{
    border: 1px dashed gray;
    padding: 5px 5px 5px 5px;
    color: blue;
}/*-------------------------------DEV-and Project------------------------------------*/
.containerDev{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    margin-block: 1rem;

}
.cardD{
    display: flex;
    border: #111;
    border-width: 1px 9px 9px 1px ;
    border-style: solid double double solid;
    border-radius: 7%;
    min-width: 340px;
    width: 600px;
    height: 500px;
    margin: 39px 10px 0px 10px;
    background-color: white;
    
}
.cardD p{
    text-align: left;
    margin: 1px 1px 1px 1px;
}

.cardD .title{
    font-size: 28px;
    color: #111;
    padding-top: 10px;
    margin-bottom: 3rem;
    margin-inline: auto;
}
.face{
    min-width: 340px;
    max-width: 600px;
    width: 95%;
    height: 500px;
    border: 4px solid;
    border-radius: inherit;
    position: absolute; 
    border-color:  var(--site-color-1) var(--site-color-1) var(--site-color-2) var(--site-color-2) ;
}
.textCode{
    border: none;
    text-align: left;
    width: 80%;
    height: 268px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;

    
}
.changeFace{
    position: absolute;
    bottom: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}

.btFace{
    font-size: 40px;
    border: none;
    background-color: transparent;
    color: #111;
}

.btFace:hover{
   color:var(--site-color-1);
    cursor: pointer;
}

#prevFace{
    left: 1rem;
    position: absolute;
}
#nextFace{
    right: 2rem;
    position: absolute;

}

.H{
    visibility: hidden;
}
.C{
    visibility: hidden;
}
.J{
    visibility: hidden;
}

.item #prevFace{
    display: none;
}

.J #nextFace{
    display: none;
}
/*-----------------------------RESPONSIVE------------------------------------*/
@media screen and (max-width: 480px) {
    .header .title {
        font-size: 20px;
        padding-right: 57px;
        left: -1rem;
    }
    .logo{
        width: 90px;
        height: 63px;
        left: -2rem;
    }

    footer a{
        color: aquamarine;
        text-decoration: underline;
    }
    .menu{
        padding-top: 11px;
        text-align: right;
        background-color: #111;
        backdrop-filter: blur(6px);
    }
    .openbtn{
        right: 1rem;
        font-size: 26px;
    }
    
    .closebtn{
        top: 2rem;
        right: 2rem;
        font-size: 40px;
    }
    .sectionContent{
        flex-wrap: wrap;
    }
    .content{
        width: 100%;
    }
    .content img{
        max-height: 200px;
    }
    .modal{
        height: 100%;
    }
    .galle{
        flex-direction: column;
    }
    .galleImage {
        transform: rotate(90deg);
        width: 115%;
        height: auto;
        left: -25px;
        position: absolute;
    }
   .galle button{
    transform: rotate(90deg);
    top: -212px;
    position: absolute;
   }
   .galle button:nth-child(3){
    top: 237px;
   }

   .carousel a:nth-child(1) .image{
    transform: rotateX(calc(0*var(--rotation-degree))) translateZ(calc((var(--h-image-carousel)/2)/(tan(var(--rotation-degree)/2))));
    }

    .carousel a:nth-child(2) .image{
    transform: rotateX(calc(1*var(--rotation-degree))) translateZ(calc((var(--h-image-carousel)/2)/(tan(var(--rotation-degree)/2))));
    }

    .carousel a:nth-child(3) .image{
    transform: rotateX(calc(2*var(--rotation-degree))) translateZ(calc((var(--h-image-carousel)/2)/(tan(var(--rotation-degree)/2))));
    }

    .carousel a:nth-child(4) .image{
    transform: rotateX(calc(3*var(--rotation-degree))) translateZ(calc((var(--h-image-carousel)/2)/(tan(var(--rotation-degree)/2))));
    }

    .carousel a:nth-child(5) .image{
    transform: rotateX(calc(4*var(--rotation-degree))) translateZ(calc((var(--h-image-carousel)/2)/(tan(var(--rotation-degree)/2))));
    }
    @keyframes rotate360 {
        from {
            transform: rotateX(0deg);
        }
        to {
            transform: rotateX(-360deg);
        }
    }

}
@media screen and (max-width: 815px) and (min-width: 415px) {
    .menu{
        text-align: right;
        background-color: #111;
        backdrop-filter: blur(6px);
    }
    .logo{
        left: -1rem;
    }

    .header .title{
        left: -3rem;
    }
 
    footer a{
        color: var(--hover-color-1);
        text-decoration: underline;
    }
    
}

@media screen and (max-width: 1015px) and (min-width: 815px){
    .logo{
        left: -3rem;
    }
    .header .title{
        left: -3rem;
    }
}